.article{
    background-color: rgb(241, 241, 241);
    border-radius: 20px;
    position: relative;
}
.article img{
    width: 100%;
    border-radius: 10px;
}
.article h5{
    font-size: 2em;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin: 1em 0 1em 0;
}
.article p{
    font-size: 1em;
    color: rgb(0, 0, 0);
    padding: 1em;
}
