.add-article {
    float: inline-end;
    margin: 1em;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
}
.my-articles {
    display: flex;
    /* overflow-x: hidden; */
    overflow-y: hidden;
    flex-wrap:nowrap;
    flex-direction: row;
    justify-content:unset;
    max-width: 100%;
}
.sec-title{
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.articles .card {
    margin: 1em;
    padding: 0.5em;
    position: relative; 
    height: 400px;
}
.articles h5 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-height: 100%;
}
.articles p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-height: 5em;
}

.articles img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.btns-my-articles {
    display: flex;
    position: absolute; 
    bottom: 5px; 
    right: 5px; 
}

.btns-my-articles .btn {
    margin-left: 0.5em;
}
.btns-my-articles .btn {
    margin-left: 0.5em;
}